name: Pylint

on: [push, pull_request]

jobs:
  static-check:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04]
    steps:
      - uses: actions/checkout@v5
      - uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: lapha-test
          environment-file: environment.yml
      - name: Install pylint
        id: install_deps_req
        run: |
          python -m pip install --upgrade pylint
      - name: Analysing the code with pylint
        run: |
          git ls-files '*.py'|xargs pylint
